mixin project(detailsObj)
  div.project
    a(href=detailsObj.link target="_blank")
      div.project-inner
        img(src=detailsObj.image alt=detailsObj.imageAlt)
        h3= detailsObj.title
        h1= detailsObj.role
        p= detailsObj.description

mixin component(componentObj)
  div.component
    img.component-image(src=componentObj.image alt=componentObj.imageAlt)
    div.component-content
      h2= '1x ' + componentObj.title
      ul.component-examples
        each val in componentObj.examples
          li= val

mixin footerLink(footerLinkObj)
  div.footer-link
    a(href=footerLinkObj.link target="_blank")
      img(src=footerLinkObj.image alt=footerLinkObj.imageAlt)
      p= footerLinkObj.title
